<!DOCTYPE html>
<html>
<head>
  <title>LabelInventory</title>

  <%= csrf_meta_tags %>
</head>
<body>
<% flash[:message].try(:each) do |msg| %>
  <li><%= p msg %></li>
<% end %>

<%  if logged_in? %>
  <a href="<%= root_url %>">Home</a>
  <form action="/session" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Log out">
  </form>
<% end %>


<%= yield %>

</body>
</html>
